<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768503605222-dth9a102mnu3luhsnaqhl0cjvrrqepri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768503605222-dth9a102mnu3luhsnaqhl0cjvrrqepri</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ_6Qi5Lg9wfmpXjSLazCtWSPEmZtR8jU</string>
	<key>GCM_SENDER_ID</key>
	<string>768503605222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.dartmouth.breeze</string>
	<key>PROJECT_ID</key>
	<string>breeze-dc3b1</string>
	<key>STORAGE_BUCKET</key>
	<string>breeze-dc3b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768503605222:ios:b7b6f29441990d35735827</string>
</dict>
</plist>